<h1>
  <%= form_tag("/tags/update") do %>
    <span class="hashmash">hashmash.tv /<span> 
    <%= submit_tag "watch", class: "btn btn-watch btn-primary" %>
    <%= text_field_tag "tag", nil, placeholder: "#{@tag.present? ? @tag : "enter tag" }" %>
  <% end %>
</h1>