<br /><br />
<%= render "form" %>

<div class="clear">
<br /><br />
<h1 style="text-align: center">
  <%= form_tag("/emails/save") do %>
    <%= submit_tag "Email Me", class: "btn btn-primary btn-large" %>
    <%= text_field_tag "email", nil, placeholder: "when HashMash.me is ready." %>
  <% end %>
</h1>