<center>
  <h1>
    <%= form_tag('/tags/update') %>
      <span class="hashmash">HashMash.tv /<span> 
      <%= submit_tag "watch", class: "btn btn-watch" %>
      <%= text_field_tag "tag", nil, placeholder: "enter tag" %>
    <% %>
  </h1>
</center>
