<br /><br />
<%= render "form" %>

<div class="clear">
<br />
<h1 style="text-align: center">
  <%= link_to "What is hashmash.me?", "http://hashmash.me", class: "btn btn-primary btn-large", style: "font-size:30px; padding: 25px 35px" %>
</h1>