<div id="mediaFeed" class="carousel slide" data-interval="3500">
  <div class="carousel-inner">
    <div class="active item">
      <%=image_tag(@data.last.images.standard_resolution.url)%>
    </div>
    <% @data.each do |d| %>
    <div class="item">
      <%= image_tag(d.images.standard_resolution.url) %>
    </div>
    <% end %>
  </div>
</div>
